.cabeça {
    display: flex;
    justify-content:space-between
  }
  
.logo{
  margin-left: 16pt;
  width: 64pt;
  height: 63.99pt;
}

body{
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 414pt;
}


  header  {
    width: 90pt;
    background: #fff;
    width: 414pt;
    position: fixed;
 
  }
  
  
  
 .seçao1{
    display: flex;
    justify-content: space-between;
    margin-left: 16pt;
    margin-right: 140pt;
  }
  
.artigo{
  display: flex;
  justify-content: space-between;
 }
  
.burguer{
    display: flex;
    width: 161pt;  
    height: 250pt;
    margin-left: 162%;
    margin-top: 66pt;
  }

.seçao2{
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  
}

.formulario {
  margin-left: 10px;
  margin-right: 10px;
  text-align: start;
  border-radius: 32px;
  background-color: white;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 25px;
  width: 382pt;
  height: 547pt;
  display: flexbox;
  flex-direction: column;
  
}

.nome{
  text-align: start ;
}

.fieldsetcolor{
  padding-bottom: 100px;
  width: 414pt;
  height: 1015pt;
  background: linear-gradient(117deg, rgb(250, 100, 30) 0%, rgb(255, 136, 31) 100%) 0% 0% no-repeat padding-box padding-box transparent;

}


.fontep{
  font: 16px / 24px 'Poppins';
  font-size: 16pt;
  margin-top: 5px;
}

.fontone{
  font: 16px / 24px 'Poppins';
  font-size: 13pt;
  margin-top: 5px;
  margin-bottom: 0
}

.fonteseçao{
  font-family: 'poppins', Isans-serif;
  color: white;
  font-size: 40pt;
  line-height: 48pt;
  margin-top: 90pt;
  margin-bottom: 0;
  white-space: nowrap;
  letter-spacing: 0;
  position: absolute;

}

.fontepp{
  font: 16px / 24px 'Poppins';
  color: white;
  font-size: 16pt;
  margin-left: 16px;
  margin-bottom: 50px;
  margin-top: 0px;
  text-align: start;
  letter-spacing: 0px;
  font-size: clamp(14px, 1em + 1vw, 1.5em);
}

.imputnome{
  width: 334pt;
  height: 48pt;
  padding: 12px 20px;
  margin-top: 6pt;
  margin-bottom: 20pt;
  font-size: 12px;
  box-sizing: border-box;
  border-radius: 16pt;
  font-family: 'poppins';
  border: 1px solid rgb(153, 153, 153);
}

.inputemail{
  width: 334pt;
  height: 48pt;
  font-size: 12px;
  padding: 12px 20px;
  margin-top: 6pt;
  margin-bottom: 20pt;
  box-sizing: border-box;
  border-radius: 16pt;
  font-family: 'poppins';
  border: 1px solid rgb(153, 153, 153);
}

.inputnumero{
  width: 334pt;
  height: 48pt;
  font-size: 12px;
  padding: 12px 20px;
  margin-top: 6pt;
  margin-bottom: 20pt;
  box-sizing: border-box;
  border-radius: 16pt;
  font-family: 'poppins';
  border: 1px solid rgb(153, 153, 153);
}

.buttoncontinue{
  background-color: #FA641E;
  font: 'poppins' white;
  border-radius: 20px;
  padding: 10px 30px;
  font: 16px / 24px 'Poppins';
  color: white;
  width: 334pt;
  height: 48pt;
  margin-top: 30pt;
  margin-bottom: 24pt;
  border: 0;
}

.buttoncbc{
  box-shadow: rgb(250 100 30 / 54%) 0px 7px 30px 2px;
  margin-right: 16pt;
  margin-top: 20pt;
  font-size: 14pt;
  color: white;
  width: 158pt;
  height: 32pt;
  background-color: #FA641E;
  border-radius: 30px;
  border: 0px solid rgb(153, 153, 153);
}


.pigzimg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 205.3pt;
  height: 140pt;
  margin-top: -90px;
  margin-left: 104.35pt;
  margin-right: 104.35pt;

}

.pigzdido{
  margin-left: 64pt;
  margin-right: 64pt;  
  font: 600 35px / 42px Poppins;
  letter-spacing: -2px;

}

.pigzdiddo{
  text-align: center;
  margin-left: 64pt;
  margin-right: 64pt;  
  font-family: 'Poppins';
  margin-top: 120pt;
  font-size: 32pt;
  line-height: 40pt;
  letter-spacing: 0;
}

.opçoes{
  align-items: center;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.buttonsnav{

  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  font: 13px / 10px Poppins;
  color: black;
  background-color: #FAFAFA;
  border-radius: 50px;
  margin-left: 72pt;
  margin-right: 72pt;
  width: 270pt;
  height: 243pt;
  border: 0;
}

.btn{
  margin-top: 30px;
  margin-bottom: 0;
}

.btns{
  font: 20px / 15px 'Poppins';
  font-size: 16pt;
  color: #333333;
  text-align: center;
  line-height: 24pt;
  margin-top: 20pt;
  white-space: nowrap;
}

.btnss{
 font: 20px / 15px 'Poppins';
 white-space: nowrap;
}

.colorletra{
  font-family: 'poppins', sans-serif;
  font-size: 15pt;
  margin-top: 40pt;
  color: white;
}

.fonte{
  font: 600 24px / 32px Poppins;
  font-size: 28pt;

  letter-spacing: -1px; 
}

.skfsj{
  font-size: 12pt;
}

.carrosselum{
  margin-top: 40pt;
  font-size: 50px;
  font: 13px / 10px Poppins;
  color: black;
  background: linear-gradient(117deg, rgb(250, 100, 30) 0%, rgb(255, 136, 31) 100%) 0% 0% no-repeat padding-box padding-box transparent;;
  border-radius: 64pt;
  width: 382pt;
  height: 400pt;
}

.quadrado{
  align-items: center;
  display: flex;
  flex-direction: column;

}

.image{
  width: 382pt;
  height: 200pt;
  margin-top: 25pt;
}

